@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
  padding: 0;
  font-family: system-ui;
}

.bodyhome {
  background-color: #ffffff;
}

.bodyhome input {
  max-width: 50%;
  align-items: center;    
  justify-content: center;
  padding-left: 10px;
  margin-left: 19%;
}

.headerfixa {
  background-color: #0c0520; 
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: auto;
  width: 50px;
}

.logo {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.iconshome {
  display: flex;
  gap: 5px;
}

.profileicon img {
  height: auto;
  width: 40px;
  border-radius: 50%;
  border: #cecece solid 2px;
  object-fit: cover;
  display: flex;
  margin-top: 5px;
}

.settingsicon img {
  height: auto;
  width: 40px;
  margin-top: 6px;
  margin-left: 10px;
}

header {
  background-color: #7428a6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #ffffff;
  background-image: url(https://i.pinimg.com/736x/e2/31/85/e231859993c3f02f220f09e628b6d79b.jpg);
  background-size: cover;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 140px;
}

.containerhome{
  background-color: #ffff;
  padding: 15px;
  border-radius: 5px;
  /* margin: 10px; */
  display: block;
  max-width: 85%;
  border: #eeeeee solid;
}

h2 {
  margin-bottom: 20px;
}

h1 {
   padding-top: 30px;
   padding-left: -15px;
	 margin-bottom: -15px;
}

.text {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: left;

}

.text2 {
  text-align: left;
  margin-left: 10px;
}

.imgperfil {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
}

.imgperfil img {
  width: auto;
  height: 150px;
  border-radius: 10px;
  filter: drop-shadow(9px 9px 6px #1f0b38);
}

.imgperfil h2 {
  margin: 10px 0;
  font-size: 20px;
  display: block;
}

.imgperfil h3 {
  margin: 10px 0;
  font-size: 15px;
  display: block;
  opacity: 0.5;
}

main {
  border: none;
  padding: 90px;
  padding-left: 300px;
  background-color: #FAF8FC;
}

.rodape-contatos {
  color: #ffff;
  background-color: #0c0520;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contato{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.infos {
  padding-bottom: 5px;
  font-size: 10px;
}

.logos img {
  height: auto;
  width: 30px;
}

.logos{
  padding-top: 10px;
  padding-bottom: 10px;
}

.facebook {
  width: auto;
  height: 40px;
}

.email {
	font-size: 10px;
}

#faixalista {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#body_login {
  background-color: #f9f7fa;
  background-image: url(https://i.pinimg.com/originals/72/85/57/7285572749461ad802cec43cf9db8838.gif);
  
}

.dica p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dica {
  display: flex;
  justify-content: center;
  margin-right: 20%;
  /* top: 30%; */
  font-weight: bold;
  padding-bottom: 50px;
}

.chatbotdica {
  height: 40px;
  width: auto;
  justify-content: center;
  display: flex;
}

/* ------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Nunito";
}

#body_login {
  background-color: #f9f7fa;
  background-image: url(https://i.pinimg.com/originals/59/7f/86/597f865620b0cbdf2bd2231bf3aee453.gif);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5%;
  padding: 20px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#logo {
  border-radius: 10px;
  border: 4px solid white;
  margin: 0px;
  display: flex;
  justify-content: center;
  height: 150px;
  width: auto;
}

.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: auto;
  border-radius: 10px;
  border: 4px solid #85649c;
}

.conteudo {
  display: inline-block;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
}

form {
    margin: 30px;
    margin-top: 30px;
    border-radius: 5%;
}


h1 {
  text-align: center;
}

.imagensicon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cadastrobotao {
  color: #633582;
  font-weight: bold;
}

#cadastrobotao:hover {
  color: #c3addd;
}

input {
  width: 100%;
  background-color: #f1ebf5;
  font-size: 16px;
  padding: 6px;
  border-radius: 5px;
  margin: 10px;
  margin-left: -5px;
  border: 2px solid #552278;
}

button {
  background-color: #8254a1;
  color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid white;
  margin-top: 20px;
}

button:hover {
  background-color: white;
  color: #8254a1;
  border: 2px solid #8254a1;
}
