@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    border: none;
    box-sizing: border-box;
    padding: 0;
    font-family: system-ui;
}

.bodyhome {
  background-color: #efe6ff;
  background-image: url(https://i.pinimg.com/originals/72/85/57/7285572749461ad802cec43cf9db8838.gif);
}

.bodyhome input {
    max-width: 50%;
    align-items: center;    
    justify-content: center;
    padding-left: 10px;
    margin-left: 19%;
}

.headerfixa {
	padding-top: 6px;
	padding-bottom: 5px;
  padding-left: 10px;
	background-color: #3d1e57;
	display: flex;
  max-width: 100%;
  border-bottom: #140426 3px solid;
}

.profileicon img {
	height: auto;
	width: 50px;
	border-radius: 50%;
	border: #ffffff solid 1px;
	object-fit: cover;
}

.settingsicon img {
	height: auto;
	width: 40px;
  margin-top: 6px;
  margin-left: 10px;
}

header {
    background-color: #d4acf4;
    background: radial-gradient(circle, rgba(240,202,255,1) 0%, rgba(98,50,136,1) 100%);    width: 100%;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #ffffff;
    /* background-image: url(https://i.pinimg.com/originals/82/e1/c3/82e1c3ef244c292810706f56b7539243.gif);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; */
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 140px;
}

h1 {
   padding-top: 30px;
   padding-left: 15px;
	 margin-bottom: -15px;
}

.imgperfil {
   display: flex;
   align-items: center;
   gap: 15px;
	 padding-top: 30px;
}

.imgperfil img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    filter: drop-shadow(9px 9px 6px #1f0b38);
}

.imgperfil h2 {
    margin: 10px 0;
    font-size: 20px;
    display: block;
}

.imgperfil h3 {
	  margin: 10px 0;
    font-size: 15px;
    display: block;
	  opacity: 0.5;
}

.faixafav {
    padding-right: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
	  padding-top: 40px;
}

#favfaixa {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
}

#dadosfav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
    flex-direction: row-reverse;
}

#nomefaixa, #nomecantor {
    margin: 0;
    font-size: 1em;
}

#img-faixa {
    width: auto;
    height: 140px;
    border-radius: 10px;
    filter: drop-shadow(9px 9px 6px #1f182473);
}



main {
    border: none;
    padding: 90px;
    padding-left: 300px;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    line-height: 38px;
}

li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    padding-left: 40px;
}

#playbutton {
    height: 30px;
    width: 20px;
    transition: height 0.3s ease, width 0.3s ease;
}

#playbutton:hover {
    height: 30px;
    width: 30px;
}

#exibir {
    text-decoration: none;
    color: rgb(91, 91, 91);
}

#exibir:hover {
    color: black;
    font-weight: bold;
}

#likes{
    color: rgb(91, 91, 91) ;
    padding-bottom: 40px;
}

#faixalista:hover {
    color: #260a4d;
    font-weight: bold;
}

.rodape-contatos {
  color: #ffff;
  background-color: #0c0520;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contato{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.infos {
  padding-bottom: 5px;
  font-size: 10px;
}

.logos img {
	height: auto;
	width: 30px;
}

.logos{
  padding-top: 10px;
  padding-bottom: 10px;
}

.facebook {
   width: auto;
   height: 40px;
}

.email {
	font-size: 10px;
}

.containerhome{
	background-color: #ffffff;
	padding: 15px;
	border-radius: 5px;
	margin: 10px;
	display: block;
	max-width: 45%;
}

#faixalista {
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

#body_login {
    background-color: #f9f7fa;
    background-image: url(https://i.pinimg.com/originals/72/85/57/7285572749461ad802cec43cf9db8838.gif);
  
}

/* ------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Nunito";
}

#body_login {
    background-color: #f9f7fa;
    background-image: url(https://i.pinimg.com/originals/59/7f/86/597f865620b0cbdf2bd2231bf3aee453.gif);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5%;
    padding: 20px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

#logo {
  border-radius: 10px;
  border: 4px solid white;
  margin: 0px;
  display: flex;
  justify-content: center;
  height: 150px;
  width: auto;
}

.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  border: 4px solid #85649c;
}

.conteudo {
  display: inline-block;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
  margin: 10px;
}

form {
    margin: 30px;
    margin-top: 30px;
}

input {
    margin: 10px;
}

h1 {
  text-align: center;
}

.imagensicon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cadastrobotao {
  color: #320054;
  font-weight: bold;
}

input {
  width: 100%;
  background-color: #f1ebf5;
  font-size: 16px;
  padding: 6px;
  border-radius: 7px;
}

button {
  background-color: #8254a1;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid white;
  margin-top: 10px;
}

button:hover {
  background-color: white;
  color: #8254a1;
  border: 2px solid #8254a1;
}
