@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Nunito";
}

#body_login {
    background-color: #f9f7fa;
    background-image: url(https://i.pinimg.com/originals/59/7f/86/597f865620b0cbdf2bd2231bf3aee453.gif);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px;
/*   filter: blur(10px); */
}

#logo {
  border-radius: 10px;
  border: 4px solid white;
  margin: 0;
/*   margin-top: 15px; */
  display: flex;
  justify-content: center;
  height: 150px;
  width: auto;
}

.container {
  background-color: #ffffff;
  height: 550px;
  width: 400px;
  display: flex;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  border: 4px solid #85649c;
}

.conteudo {
  display: inline-block;
  justify-content: center;
  text-align: left;
}

h1 {
  text-align: center;
/*   margin-top: 10px; */
}
/* 
#sparkles {
  justify-content: center;
  display: flex;
  height: 100px;
  widght: auto;
  top: -20px;
}
 */
.imagensicon {
  display: flex;
  justify-content: center;
  gap: -10px;
}

#cadastrobotao {
  color: #320054;
  font-weight: bold;
}

input {
  width: 100%;
  background-color: #f1ebf5;
  font-size: 16px;
  padding: 6px;
  border-radius: 7px;
}

button {
  background-color: #8254a1;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid white;
}

button:hover {
  background-color: white;
  color: #8254a1;
  border: 2px solid #8254a1;
}